= form_for :news_item, url: representative_new_my_news_item_path(@representative), html: { method: 'get' } do |f|
    - @news_articles.each do |article|
        .form-group.row
            .col-sm-1
                = f.radio_button :title, article
            .col-sm-10
                = label :news_item, :title, article[0], class: 'col-form-label'
    = submit_tag 'Submit', class: 'btn btn-primary'
.float-right
    = link_to representative_new_my_news_item_path(@representative), class: 'btn btn-info' do
        Manually Input Article
        %i.fas.fa-arrow-right
